<ion-view view-title="iOn Bible v.23.03.2015">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Добро пожаловать в iOn Bible. Пожалуйста, выберите модуль с книгой в меню слева.
      </div>
    </div>

<!--     <div class="list card">
      <div class="item item-divider">
        TODO
      </div>
     </div>
    <div class="card">
      <div class="item item-divider">
        FIXME
      </div>
      <div class="item item-text-wrap">

      </div>
    </div>
 -->
  </ion-content>
</ion-view>
